{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <h3 class="text-center mb-3">Hello World</h3> -->
  <div class="text-center lead mb-2">Hello World</div>
  <canvas id="myChart" height="150"></canvas>
  <div class="row">
      <div class="col-6">
          <div class="alert alert-secondary text-center" role="alert">
              Hello World
          </div>
      </div>
      <div class="col-6">
          <div class="alert alert-secondary text-center" role="alert">
              From Node JS
          </div>
      </div>
  </div>
{% endblock %}

{% block script %}
<script src="{% static "chart.js" %}"></script>
{% endblock %}